{% extends "base.html" %}

{% block content %}
    {% for pet in pets %}
        <div class="pet-card">
            <a href=" {% url 'pet_detail' pet.id %} ">
                <h4>{{ pet.name }}</h4>
            </a>
            <p><strong>Species:</strong> {{ pet.species }}</p>
            {% if pet.breed %}
                <p><strong>Breed:</strong>{{ pet.breed }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}
