{% extends "base.html" %}

{% block content %}
    <div class="pet-post-card">
        <h2>{{ pet.name|capfirst }}</h2>
        <p>{{ pet.species }}</p>
        {% if  pet.breed %}
            <p>Breed: {{ pet.breed }}</p>
        {% endif %}
        {% if pet.age %}
            <p>Age: {{ pet.age }}</p>
        {% endif %}
        {% if pet.sext %}
            <p>Sex: {{ pet.sex }}</p>
        {% endif %}
        {% if pet.vaccinations.all %}
            Vaccinations for:
            <ul>
            {% for vaccination in  pet.vaccinations.all %}
                <li>{{ vaccination.name }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <p>Submitted by: {{ pet.submitter }}</p>
        <p>Submmitted on: {{ pet.submission_date|date:"d M Y" }}</p>
        <p>{{ pet.description }}</p>
    </div>
{% endblock content %}
